*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    color: $text-color;
    font-family: $body-font;
    font-size: $default-font-size;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

h1,
h2 {
    color: $primary-color;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    font-size: $default-font-size;
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

// Mixins
@mixin flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
      } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
      }
}

@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    -o-transition: $duration;
    transition: $duration;
}

